<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="homeTiles_05">
    <section class="it-about-area fix p-relative pt-130 pb-95 theme-bg">
        <div class="container">
            <div class="row align-items-center mb-50">
                <div class="col-lg-8">
                    <div class="it-about-section-title-box">
                        <h3 class="it-section-title text-white"><strong>Studiodomino</strong> <span class="yellow-style"><strong>Language School</strong></span></h3>
                        <p class="text-white" style="font-weight:600;">Innovativa scuola di lingue straniere</p>
                    </div>
                    <p class="text-white mb-20">Tecnologia e multimedialità applicate al metodo tradizionale per apprendere le lingue straniere in modo nuovo e veloce.</p>
                    <a th:href="@{/front/339/Language_School}" class="it-btn-yellow">
          <span>
            <span class="text-1">Scopri la scuola</span>
            <span class="text-2">Scopri la scuola</span>
          </span>
                        <i>
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0544 8.1364C15.4058 7.78492 15.4058 7.21508 15.0544 6.8636L9.3268 1.13604C8.97533 0.784567 8.40548 0.784567 8.05401 1.13604C7.70254 1.48751 7.70254 2.05736 8.05401 2.40883L13.1452 7.5L8.05401 12.5912C7.70254 12.9426 7.70254 13.5125 8.05401 13.864C8.40548 14.2154 8.97533 14.2154 9.3268 13.864L15.0544 8.1364ZM0.417969 7.5V8.4H14.418V7.5V6.6H0.417969V7.5Z" fill="currentcolor"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>

            <div class="row gx-35">

                <div class="col-md-4 mb-35">
                    <div class="it-course-item">
                        <div class="it-course-thumb z-index-1 border-radius-20">
                            <a th:href="@{/front/366/Catalogo_Language_School}">
                                <img class="w-100" th:src="@{site01/images/about/sel01.jpg}" alt="Catalogo Corsi"/>
                            </a>
                        </div>
                        <div class="it-course-content p-relative">
                            <h5 class="it-course-title mb-15 text-white">
                                <a class="border-line" th:href="@{/front/366/Catalogo_Language_School}">Catalogo Corsi</a>
                            </h5>
                            <p class="text-white mb-20">Tutta l'offerta formativa della Language School.</p>
                            <a th:href="@{/front/366/Catalogo_Language_School}" class="it-btn-yellow w-100">
              <span>
                <span class="text-1">Catalogo completo</span>
                <span class="text-2">Catalogo completo</span>
              </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-35">
                    <div class="it-course-item">
                        <div class="it-course-thumb z-index-1 border-radius-20">
                            <a th:href="@{/front/528/British_Institutes_Examination_Board}">
                                <img class="w-100" th:src="@{site01/images/about/sel02.jpg}" alt="Certificazioni"/>
                            </a>
                        </div>
                        <div class="it-course-content p-relative">
                            <h5 class="it-course-title mb-15 text-white">
                                <a class="border-line" th:href="@{/front/528/British_Institutes_Examination_Board}">Certificazioni</a>
                            </h5>
                            <p class="text-white mb-20">Le certificazioni linguistiche erogate dalla nostra Language School.</p>
                            <a th:href="@{/front/528/British_Institutes_Examination_Board}" class="it-btn-yellow w-100">
              <span>
                <span class="text-1">Tutte le certificazioni</span>
                <span class="text-2">Tutte le certificazioni</span>
              </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-35">
                    <div class="it-course-item">
                        <div class="it-course-thumb z-index-1 border-radius-20">
                            <a th:href="@{/front/367/Calendario_Language_School}">
                                <img class="w-100" th:src="@{site01/images/about/sel03.jpg}" alt="Calendario Corsi"/>
                            </a>
                        </div>
                        <div class="it-course-content p-relative">
                            <h5 class="it-course-title mb-15 text-white">
                                <a class="border-line" th:href="@{/front/367/Calendario_Language_School}">Calendario corsi</a>
                            </h5>
                            <p class="text-white mb-20">Tutti i corsi programmati ed in partenza con modalità di iscrizione e calendario.</p>
                            <a th:href="@{/front/367/Calendario_Language_School}" class="it-btn-yellow w-100">
              <span>
                <span class="text-1">Calendario corsi</span>
                <span class="text-2">Calendario corsi</span>
              </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>