<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="homeTiles_03">
    <section class="it-categories-area pt-130 pb-95">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="it-categories-section-title-box text-center mb-65">
                        <h3 class="it-section-title">Offerta formativa</h3>
                        <span class="it-section-subtitle">Acquisisci le competenze giuste per te!</span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-35">

                <div class="col">
                    <div class="it-categories-item item-style-1 text-center">
                        <a th:href="@{/front/335/Percorsi_formativi}" class="d-block">
                            <span><i class="fas fa-chalkboard-teacher font-72"></i></span>
                            <h6 class="mb-0">Corsi di Formazione</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-2 text-center">
                        <a th:href="@{/front/337/Alta_formazione}" class="d-block">
                            <span><i class="fas fa-user-tie font-72"></i></span>
                            <h6 class="mb-0">Alta Formazione</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-3 text-center">
                        <a th:href="@{/front/336/Qualifica_Professionale}" class="d-block">
                            <span><i class="fas fa-people-arrows font-72"></i></span>
                            <h6 class="mb-0">Qualificazioni Professionali</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-4 text-center">
                        <a th:href="@{/front/339/Language_School}" class="d-block">
                            <span><i class="fas fa-language font-72"></i></span>
                            <h6 class="mb-0">Formazione Linguistica</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-5 text-center">
                        <a th:href="@{/front/338/Mondo_Scuola}" class="d-block">
                            <span><i class="fas fa-users font-72"></i></span>
                            <h6 class="mb-0">Mondo Scuola</h6>
                        </a>
                    </div>
                </div>

                <!--div class="col">
                    <div class="it-categories-item item-style-6 text-center">
                        <a th:href="@{/front/341/Universita}" class="d-block">
                            <span><i class="fas fa-graduation-cap font-72"></i></span>
                            <h6 class="mb-0">Università</h6>
                        </a>
                    </div>
                </div-->

                <div class="col">
                    <div class="it-categories-item item-style-7 text-center">
                        <a th:href="@{/front/356/Formazione_Aziendale}" class="d-block">
                            <span><i class="fas fa-address-card font-72"></i></span>
                            <h6 class="mb-0">Formazione Aziendale</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-8 text-center">
                        <a th:href="@{/front/693/Rafforzamento_Scolastico_-_DOPOSCUOLA_}" class="d-block">
                            <span><i class="fas fa-child font-72"></i></span>
                            <h6 class="mb-0">Doposcuola</h6>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="it-categories-item item-style-1 text-center">
                        <a th:href="@{/front/325/Eipass_Center}" class="d-block">
                            <span><i class="fas fa-certificate font-72"></i></span>
                            <h6 class="mb-0">Certificazioni EIPASS</h6>
                        </a>
                    </div>
                </div>

                <!--div class="col">
                    <div class="it-categories-item item-style-8 text-center">
                        <a th:href="@{/front/342/Post_Laurea_Universitari}" class="d-block">
                            <span><i class="fas fa-id-card-alt font-72"></i></span>
                            <h6 class="mb-0">Post Lauream Universitari</h6>
                        </a>
                    </div>
                </div-->

            </div>
        </div>
    </section>
</th:block>