<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="homeTiles_08">
  <section class="it-categories-area theme-bg pt-130 pb-130">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="it-categories-section-title-box mb-45">
            <span class="it-section-subtitle yellow-style">Servizi</span>
            <h4 class="it-section-title text-white">Servizi ITC</h4>
          </div>
          <div class="row row-cols-md-2 row-cols-1 gx-35">

            <div class="col mb-35">
              <div class="it-categories-item item-style-1">
                <span><i class="fab fa-internet-explorer font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Realizzazione siti web su misura per la tua azienda. Progettazione e sviluppo di programmi gestionali personalizzati.</p>
              </div>
            </div>

            <div class="col mb-35">
              <div class="it-categories-item item-style-2">
                <span><i class="fas fa-laptop-code font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Assistenza tecnica hardware e software per le aziende e per la Pubblica Amministrazione.</p>
              </div>
            </div>

            <div class="col mb-35">
              <div class="it-categories-item item-style-3">
                <span><i class="fas fa-mail-bulk font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Rilascio e attivazione dei servizi digitali per aziende e cittadini: firma digitale, posta elettronica certificata - PEC.</p>
              </div>
            </div>

            <div class="col mb-35">
              <div class="it-categories-item item-style-4">
                <span><i class="fas fa-share-alt font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Web & Social Communication - Servizi di gestione profili social, aggiornamento contenuti e tecniche SEO.</p>
              </div>
            </div>

            <div class="col mb-35">
              <div class="it-categories-item item-style-5">
                <span><i class="fas fa-keyboard font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Servizi di trascrizione e resocontazione di documenti audio per la Pubblica Amministrazione.</p>
              </div>
            </div>

            <div class="col mb-35">
              <div class="it-categories-item item-style-6">
                <span><i class="far fa-list-alt font-48"></i></span>
                <p class="text-white mb-0" style="margin-top:15px;">Servizi di Conservazione Sostitutiva e Fatturazione Elettronica.</p>
              </div>
            </div>

          </div>
        </div>

        <!--div class="col-lg-4">
          <div th:replace="~{site01/fragments/jspUser/contatti3 :: contatti3(oggettoRichiesta='Informazioni generali', idOggettoRichiesta=0)}"></div>
        </div-->
      </div>
    </div>
  </section>
</th:block>