<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- sectionType.page3 = 'sectionCatalogoSidebar' -->
<th:block th:fragment="content">
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pe-5 lg-pe-3 md-pe-15px md-mb-50">
                    <div th:if="${section.testo != null and !section.testo.isEmpty()}" th:utext="${section.testo}" class="mb-40"></div>
                    <div th:replace="~{site01/fragments/section_frag/_catalogoCards :: cards}"></div>
                </div>
                <div class="col-lg-4 ps-4 lg-ps-15px">
                    <div th:replace="~{site01/fragments/section_frag/_sidebar :: widget}"></div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>
